.App {
    background-color: #222222;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.input-box,
.preview-box {
    flex: 1;
    height: 100vh;
    width: 33vw;
    padding: 1rem;
    box-sizing: border-box;
    margin: auto;
}

.input-box {
    background-color: black;
    color: white;
}

.preview-box {
    background-color: white;
    color: black;
}
